<!doctype html>

<html lang="en">
    <head>
		<meta charset="utf-8">

		<title>Vast manager</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}/css/styles.css?v=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
		
    </head>

    <body>
		<div class="container">


			<div class="columns">
				<div class="column">
					{% block content %}
					{% endblock %}


					{% block footer %}
						<footer style="text-align:right" >
						</footer>
					{% endblock %}
				</div>
			</div>
		</div>
    </body>
</html>

