{% block content %}
	<div style="width:200px; margin:0 auto; font-size:24px;">
	<pre>
   +--------------+
   |.------------.|
   ||            ||
   ||  V A S T   ||
   ||  manager   ||
   ||            ||
   |+------------+|
   +-..--------..-+
   .--------------.
  / /============\ \
 / /==============\ \
/____________________\
\____________________/
	</pre>
	</div>
{% endblock %}
